# Virtual Environment
venv/

# Python
__pycache__/
*.pyc

# Environment Variables
.env


# Outputs


# HVAC Projects
HVAC_Project/
HVAC_Project_Copy/
HVAC_Project_Vulnerable/

# STM32 Build Artifacts
Debug/
Release/
*.o
*.d
*.elf
*.map
*.su
*.cyclo

# VS Code
.vscode/



test_apikey.py